body {
    background: linear-gradient(#581845, #900C3F);
    text-align: center;
    color: #fff;
}

input, select {
    margin-bottom: 20px;
}

#name-label,
#email-label,
#number-label,
#dropdown-label,
#radio-label,
#checkboxP {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}